/* body{
  height: 200vh;
  background-image: url('/apple.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
} */

*{
  font-family:Monospace;
}
.div1 {
  background-color: grey;
}

/* headings style with class */

#h {
  color: red;
}

.h {
  background-color: yellow; /* heading background color */
  border: 1px solid black;
  border-radius: 15px;
  color: white;
  /* border-top-style: dashed; */
  /* border-style: solid dashed dotted double; */

  /* margin:70px 50px 30px 10px; */
  padding: 50px 10px 5px;
}

.para {
  padding: 40px 30px 10px 5px;
  border: 1px solid black;
}

/* heading style with id */


.text{
  text-decoration-line: line-through;
  text-decoration-color: red;
}

.text_trans{
  text-transform: capitalize;
  text-indent: 50px;
  letter-spacing: 2px;
  line-height: 50px;
  word-spacing: 2px;
 
  /* white-space: nowrap; */
}

.shodow{
  text-shadow: 7px 5px 10px black;
}

.link{
  text-decoration: none;
  color: black;
  padding: 5px 15px;
}

.list li:hover{
  color: white;
  background-color: grey;
}

.list{
  list-style-type: none;
}

.list li,.link li a{
  display: inline-block;
  padding: 10px;
  border: 1px solid black;
}

table,th,td{
  border: 1px solid black;
  width: 50%;
  border-collapse: collapse;
} 

table th,table td{
  padding: 5px;
}

table td{
  background-color: grey;
}

.table_div{
  width: 70%;
}

tr:hover{
  background-color: aqua;
  color: white;
  border-bottom: 1px solid black;
  /* border: none; */
  
}

table th,table td{
  text-align: left;
}

